.tooltip {
  background-color: white;
  position: fixed;
  padding: 8px;
  top: 50%;
  left: 60%;
  line-height: 1.3;
  border: var(--border);
  border-width: 2px;
  font-size: 14px;
  pointer-events: none;
  max-width: 200px;
  z-index: 1;
  white-space: pre-line;
}

.tooltip.false {
  display: none;
}
